<header class="main">
    
       <aside class="content-1">
        <img src="../../../assets/Xene  Logo Design_220223@2x.jpg" alt="" class="img">
        <input type="text" placeholder="   Password" >
        <input type="text" placeholder="   Confirm Password" >
        <button class="submit">Create new account</button>
        <aside class="footer-text">
        <p class="text-1">Already have an account ?</p>
        <p class="text-1 k">Sign in</p>
        </aside>
       </aside> 
    <aside class="content-2">
        <!-- <img src="../../../assets/Group 80759.jpg" alt=""> -->
        <h2 class="head">Welcome</h2>
        <aside class="last">
        <p class="head-para">How would you assess the use of the</p>
          <p class="head-para">   event as training tools?</p>

            </aside>
    </aside>
</header>