<header class="main">
  <aside class="nav-main">
    <aside class="navbar">
        <img src="../../../assets/Xene  Logo Design_220223@2x.jpg" alt="" class="logo">
    </aside>
    <aside class="nav-items">
        <aside class="search">
            <span class="material-icons-outlined">
                search
                </span>
                <input type="text" placeholder="Search for...">
        </aside>
           <aside class="bell">
            <span class="material-icons-outlined">
                notifications_none
                </span>
                <aside class="numm"><span class="num">10</span></aside>
           </aside>
         
               <img src="../../../assets/nav-pic.jpg" alt="" class="img-pic">
         <aside class="profile">
               <h3 class="name">Aleena Thomas</h3>
               <p class="sub-name">Super Power User</p>
               
            </aside>
            <span class="material-icons-outlined ic">
                expand_more
                </span> 
       
    </aside>   
  
  </aside>
<aside class="Dashboard">
<aside class="board-items">
  <aside class="img-11">
    <img src="../../../assets/Dashboard-Icon@2x.jpg" alt="" class="img-1">
    <p> Dashboard</p>
  </aside>
  <aside class="img-11">
      <img src="../../../assets/Group 82100@2x.jpg" alt="" class="img-1">
      <p>Active Users</p>
    </aside>
    <aside class="img-11">
      <img src="../../../assets/box.jpg" alt="" class="img-1">
      <p>Properties</p>
    </aside>
    <aside class="img-11">
      <img src="../../../assets/enquirrrrry.jpg" alt="" class="img-1">
      <p>Enquiry</p>
    </aside>
    <aside class="img-11">
      <img src="../../../assets/Group 82103@2x.jpg" alt="" class="img-1">
      <p>Request</p>
    </aside>
    <aside class="img-11">
      <img src="../../../assets/Group 82104@2x.jpg" alt="" class="img-1">
      <p>Chat</p>
    </aside>
</aside> 
 <aside class="Dashboard-card">
  <aside class="nav-main1">
  <aside class="nav-main">
  
  
  <aside class="nav-search">
          <aside class="sea"> <p class="nav-head">Request List: </p></aside>
           <aside class="search">
              <span class="material-icons-outlined ser">
                  search
                  </span>
                  <input type="text" placeholder="Search for...">
          </aside>
  </aside>
  <aside class="nav-img">
      <aside class="im1">
          <img src="../../../assets/Dashboard-Icon@2x.jpg" alt="" class="img-bac">
      </aside> 
      <aside class="im1">
          <img src="../../../assets/list@2x.jpg" alt="" class="img-bac">
      </aside> 
      <aside class="filter">
          <img src="../../../assets/filter_alt_FILL0_wght400_GRAD0_opsz48 (1)@2x.jpg" alt="" class="img-bac">
          <p>Filter</p>
      </aside>
  </aside>
  </aside>  
 
  <aside class="cardss">
      <aside class="card-main">
      <aside class="card">
         <aside class="card-image">
          <img src="../../../assets/bild.jpg" alt="" class="card-img">

          <aside class="sales">
              <img src="../../../assets/sales.svg" alt="" class="sale">
              <p>Sales</p>
            </aside>
           <aside class="subscribe">
             <p>Unsubscribe</p>
             <img src="../../../assets/rename.svg" alt="">
            </aside>
            <aside class="pro-pic">
              <img src="../../../assets/b1.2.jpg" alt="" class="pro">
            </aside>

          <aside class="card-body">
              <h2 class="hed">Hill Way Town Top</h2>
              <p class="hed-para">California City, CA,USA</p>
              <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
              <span class="para">Read more</span>
            <aside class="msg">
              <p class="month">Created On Feb 21,2023</p>
                <aside class="msg-back">
                  <span class="material-icons-outlined mg">
                    chat
                  </span>
                </aside>
            </aside>
            </aside>
            <aside class="card-footer">
              <aside class="footer"> 
             
                <img src="../../../assets/uuu.jpg" alt="" class="sofa">
                <p >3</p>
              
               
                <img src="../../../assets/rrr.jpg" alt="">
                <p>4</p>
               
             
                <img src="../../../assets/ggg.jpg" alt="">
                <p>1200</p>
               </aside>           
                <aside class="footeri"> 
                  <p class="paisa">$ 1,000.00</p>
                  </aside>                        
         </aside> 
         <aside class="button">
       <button class="but k">Rejcet</button>
       <button class="but kk">Accept</button>
      </aside>
        </aside>
  
      </aside>
      </aside>

      <aside class="card-main">
      <aside class="card">
         <aside class="card-image">
          <img src="../../../assets/bild.jpg" alt="" class="card-img">

          <aside class="sales">
              <img src="../../../assets/sales.svg" alt="" class="sale">
              <p>Sales</p>
            </aside>
           <aside class="subscribe">
             <p>Unsubscribe</p>
             <img src="../../../assets/rename.svg" alt="">
            </aside>
            <aside class="pro-pic">
              <img src="../../../assets/b1.2.jpg" alt="" class="pro">
            </aside>

          <aside class="card-body">
              <h2 class="hed">Hill Way Town Top</h2>
              <p class="hed-para">California City, CA,USA</p>
              <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
              <span class="para">Read more</span>
            <aside class="msg">
              <p class="month">Created On Feb 21,2023</p>
                <aside class="msg-back">
                  <span class="material-icons-outlined mg">
                    chat
                  </span>
                </aside>
            </aside>
            </aside>
            <aside class="card-footer">
              <aside class="footer"> 
             
                <img src="../../../assets/uuu.jpg" alt="" class="sofa">
                <p >3</p>
              
               
                <img src="../../../assets/rrr.jpg" alt="">
                <p>4</p>
               
             
                <img src="../../../assets/ggg.jpg" alt="">
                <p>1200</p>
               </aside>           
                <aside class="footeri"> 
                  <p class="paisa">$ 1,000.00</p>
                  </aside>                        
         </aside> 
         <aside class="button">
       <button class="but k">Rejcet</button>
       <button class="but kk">Accept</button>
      </aside>
        </aside>
  
      </aside>
      </aside>

      <aside class="card-main">
      <aside class="card">
         <aside class="card-image">
          <img src="../../../assets/bild.jpg" alt="" class="card-img">

          <aside class="sales">
              <img src="../../../assets/sales.svg" alt="" class="sale">
              <p>Sales</p>
            </aside>
           <aside class="subscribe">
             <p>Unsubscribe</p>
             <img src="../../../assets/rename.svg" alt="">
            </aside>
            <aside class="pro-pic">
              <img src="../../../assets/b1.2.jpg" alt="" class="pro">
            </aside>

          <aside class="card-body">
              <h2 class="hed">Hill Way Town Top</h2>
              <p class="hed-para">California City, CA,USA</p>
              <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
              <span class="para">Read more</span>
            <aside class="msg">
              <p class="month">Created On Feb 21,2023</p>
                <aside class="msg-back">
                  <span class="material-icons-outlined mg">
                    chat
                  </span>
                </aside>
            </aside>
            </aside>
            <aside class="card-footer">
              <aside class="footer"> 
             
                <img src="../../../assets/uuu.jpg" alt="" class="sofa">
                <p >3</p>
              
               
                <img src="../../../assets/rrr.jpg" alt="">
                <p>4</p>
               
             
                <img src="../../../assets/ggg.jpg" alt="">
                <p>1200</p>
               </aside>           
                <aside class="footeri"> 
                  <p class="paisa">$ 1,000.00</p>
                  </aside>                        
         </aside> 
         <aside class="button">
       <button class="but k">Rejcet</button>
       <button class="but kk">Accept</button>
      </aside>
        </aside>
  
      </aside>
      </aside>

      <aside class="card-main">
      <aside class="card">
         <aside class="card-image">
          <img src="../../../assets/bild.jpg" alt="" class="card-img">

          <aside class="sales">
              <img src="../../../assets/sales.svg" alt="" class="sale">
              <p>Sales</p>
            </aside>
           <aside class="subscribe">
             <p>Unsubscribe</p>
             <img src="../../../assets/rename.svg" alt="">
            </aside>
            <aside class="pro-pic">
              <img src="../../../assets/b1.2.jpg" alt="" class="pro">
            </aside>

          <aside class="card-body">
              <h2 class="hed">Hill Way Town Top</h2>
              <p class="hed-para">California City, CA,USA</p>
              <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
              <span class="para">Read more</span>
            <aside class="msg">
              <p class="month">Created On Feb 21,2023</p>
                <aside class="msg-back">
                  <span class="material-icons-outlined mg">
                    chat
                  </span>
                </aside>
            </aside>
            </aside>
            <aside class="card-footer">
              <aside class="footer"> 
             
                <img src="../../../assets/uuu.jpg" alt="" class="sofa">
                <p >3</p>
              
               
                <img src="../../../assets/rrr.jpg" alt="">
                <p>4</p>
               
             
                <img src="../../../assets/ggg.jpg" alt="">
                <p>1200</p>
               </aside>           
                <aside class="footeri"> 
                  <p class="paisa">$ 1,000.00</p>
                  </aside>                        
         </aside> 
         <aside class="button">
       <button class="but k">Rejcet</button>
       <button class="but kk">Accept</button>
      </aside>
        </aside>
  
      </aside>
      </aside>

  </aside>
  <aside class="cardss">
    <aside class="card-main">
    <aside class="card">
       <aside class="card-image">
        <img src="../../../assets/bild.jpg" alt="" class="card-img">

        <aside class="sales">
            <img src="../../../assets/sales.svg" alt="" class="sale">
            <p>Sales</p>
          </aside>
         <aside class="subscribe">
           <p>Unsubscribe</p>
           <img src="../../../assets/rename.svg" alt="">
          </aside>
          <aside class="pro-pic">
            <img src="../../../assets/b1.2.jpg" alt="" class="pro">
          </aside>

        <aside class="card-body">
            <h2 class="hed">Hill Way Town Top</h2>
            <p class="hed-para">California City, CA,USA</p>
          <aside class="paraa">
             <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
            <span class="para">Read more</span>
          </aside> 
          <aside class="msg">
            <p class="month">Created On Feb 21,2023</p>
              <aside class="msg-back">
                <span class="material-icons-outlined mg">
                  chat
                </span>
              </aside>
          </aside>
          </aside>
          <aside class="card-footer">
            <aside class="footer"> 
           
              <img src="../../../assets/uuu.jpg" alt="" class="sofa">
              <p >3</p>
            
             
              <img src="../../../assets/rrr.jpg" alt="">
              <p>4</p>
             
           
              <img src="../../../assets/ggg.jpg" alt="">
              <p>1200</p>
             </aside>           
              <aside class="footeri"> 
                <p class="paisa">$ 1,000.00</p>
                </aside>                        
       </aside> 
       <aside class="button">
     <button class="but k">Rejcet</button>
     <button class="but kk">Accept</button>
    </aside>
      </aside>

    </aside>
    </aside>

    <aside class="card-main">
    <aside class="card">
       <aside class="card-image">
        <img src="../../../assets/bild.jpg" alt="" class="card-img">

        <aside class="sales">
            <img src="../../../assets/sales.svg" alt="" class="sale">
            <p>Sales</p>
          </aside>
         <aside class="subscribe">
           <p>Unsubscribe</p>
           <img src="../../../assets/rename.svg" alt="">
          </aside>
          <aside class="pro-pic">
            <img src="../../../assets/b1.2.jpg" alt="" class="pro">
          </aside>

        <aside class="card-body">
            <h2 class="hed">Hill Way Town Top</h2>
            <p class="hed-para">California City, CA,USA</p>
            <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
            <span class="para">Read more</span>
          <aside class="msg">
            <p class="month">Created On Feb 21,2023</p>
              <aside class="msg-back">
                <span class="material-icons-outlined mg">
                  chat
                </span>
              </aside>
          </aside>
          </aside>
          <aside class="card-footer">
            <aside class="footer"> 
           
              <img src="../../../assets/uuu.jpg" alt="" class="sofa">
              <p >3</p>
            
             
              <img src="../../../assets/rrr.jpg" alt="">
              <p>4</p>
             
           
              <img src="../../../assets/ggg.jpg" alt="">
              <p>1200</p>
             </aside>           
              <aside class="footeri"> 
                <p class="paisa">$ 1,000.00</p>
                </aside>                        
       </aside> 
       <aside class="button">
     <button class="but k">Rejcet</button>
     <button class="but kk">Accept</button>
    </aside>
      </aside>

    </aside>
    </aside>

    <aside class="card-main">
    <aside class="card">
       <aside class="card-image">
        <img src="../../../assets/bild.jpg" alt="" class="card-img">

        <aside class="sales">
            <img src="../../../assets/sales.svg" alt="" class="sale">
            <p>Sales</p>
          </aside>
         <aside class="subscribe">
           <p>Unsubscribe</p>
           <img src="../../../assets/rename.svg" alt="">
          </aside>
          <aside class="pro-pic">
            <img src="../../../assets/b1.2.jpg" alt="" class="pro">
          </aside>

        <aside class="card-body">
            <h2 class="hed">Hill Way Town Top</h2>
            <p class="hed-para">California City, CA,USA</p>
            <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
            <span class="para">Read more</span>
          <aside class="msg">
            <p class="month">Created On Feb 21,2023</p>
              <aside class="msg-back">
                <span class="material-icons-outlined mg">
                  chat
                </span>
              </aside>
          </aside>
          </aside>
          <aside class="card-footer">
            <aside class="footer"> 
           
              <img src="../../../assets/uuu.jpg" alt="" class="sofa">
              <p >3</p>
            
             
              <img src="../../../assets/rrr.jpg" alt="">
              <p>4</p>
             
           
              <img src="../../../assets/ggg.jpg" alt="">
              <p>1200</p>
             </aside>           
              <aside class="footeri"> 
                <p class="paisa">$ 1,000.00</p>
                </aside>                        
       </aside> 
       <aside class="button">
     <button class="but k">Rejcet</button>
     <button class="but kk">Accept</button>
    </aside>
      </aside>

    </aside>
    </aside>

    <aside class="card-main">
    <aside class="card">
       <aside class="card-image">
        <img src="../../../assets/bild.jpg" alt="" class="card-img">

        <aside class="sales">
            <img src="../../../assets/sales.svg" alt="" class="sale">
            <p>Sales</p>
          </aside>
         <aside class="subscribe">
           <p>Unsubscribe</p>
           <img src="../../../assets/rename.svg" alt="">
          </aside>
          <aside class="pro-pic">
            <img src="../../../assets/b1.2.jpg" alt="" class="pro">
          </aside>

        <aside class="card-body">
            <h2 class="hed">Hill Way Town Top</h2>
            <p class="hed-para">California City, CA,USA</p>
            <span class="para-main">Faucibs ultricess sociis id sem justoultrices sociies facilis suscipt sit sem...</span>
            <span class="para">Read more</span>
          <aside class="msg">
            <p class="month">Created On Feb 21,2023</p>
              <aside class="msg-back">
                <span class="material-icons-outlined mg">
                  chat
                </span>
              </aside>
          </aside>
          </aside>
          <aside class="card-footer">
            <aside class="footer"> 
           
              <img src="../../../assets/uuu.jpg" alt="" class="sofa">
              <p >3</p>
            
             
              <img src="../../../assets/rrr.jpg" alt="">
              <p>4</p>
             
           
              <img src="../../../assets/ggg.jpg" alt="">
              <p>1200</p>
             </aside>           
              <aside class="footeri"> 
                <p class="paisa">$ 1,000.00</p>
                </aside>                        
       </aside> 
       <aside class="button">
     <button class="but k">Rejcet</button>
     <button class="but kk">Accept</button>
    </aside>
      </aside>

    </aside>
    </aside>

</aside>
  
</aside> 
  </aside> 

</aside>

</header>
